body{
    margin: 0;
    padding: 0;
    background-color: rgb(26, 24, 24);
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 1rem;
}
#resultat{
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    height: 450px;
    width: 320px;
    flex-direction: column;
}
#resultat p{
    color: rgb(51, 49, 49);
    font-size: 14pt;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    letter-spacing: 0.5rem;
}
#resultat input{
    color: rgb(218, 226, 233);
    display: flex;
    border-radius: 20px;
    height: 60px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
}
#resultat input #nom{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-family: 'Roboto Condensed', sans-serif;
}
#nom{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
fieldset{
    width: 20%;
    border: 2px solid rgba(240, 240, 243, 0.753);
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    height: fit-content;
    justify-self: center;
}

h2{
    color: rgb(238, 238, 238);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20pt;
    text-align: center;
    letter-spacing: 1rem;
    text-align: center;
    padding: 20px;
}
legend{
    color: rgb(238, 238, 238);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10pt;
    text-align: center;
    letter-spacing: 1rem;
    text-align: center;
    padding: 5px;
} 
#elm{
    border-radius: 20px;
    text-align: center;
    height: 50px;
}
#elm .placeholder{
    text-align: center;
}
li{
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2rem;
}