body{
    margin: 0;
    padding: 0;
    height: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#383838;
    margin: 20px;
}

#interface{
    height: 100px;
    width: 80%;
    display: inline-block;
    flex-direction: row;
    border-radius: 85px;
    border-radius: 80px;
    background: linear-gradient(145deg, #323232, #3c3c3c);
    box-shadow:  13px 13px 17px #303030,
                 -13px -13px 17px #404040;
    /* border-radius: 20px; */
}
input{
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 12pt;

}
textarea{
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 8pt;

}