body{
    /* background-color: rgba(32, 32, 32, 0.993); */
    height: 900px;
    margin: 0;
    padding: 0;
    /* background: rgb(2,0,36); */
    background: rgb(210,156,46);
background: linear-gradient(90deg, rgba(210,156,46,1) 0%, rgba(166,105,14,1) 23%, rgba(168,185,217,1) 61%, rgba(180,187,226,1) 77%, rgba(252,252,252,1) 100%, rgba(249,197,23,1) 100%);

    
}
p{
    color: rgb(94, 15, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    margin: auto;
    left: 100px;
}
.texte{
    margin: auto;
    position: relative;
    background-color: rgba(32, 32, 32, 0.199);
    height: 300px;
    width: 350px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
    top: 300px;
    
    


}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    justify-content: center;
    color: beige;
    
}

nav {
    width: 100%;
    text-align: center;
    background-color: #00000071;
    top: 0;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #c97d0b;
    transition: all 0.2s ease-in-out;
}
nav ul li:hover a {
    background-color: #fff;
    color: #000;
}
.photo{
    position: relative;
    padding: 20px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}
.img{
    border-radius: 30px;
    position: relative;
}