body{
    padding: 0;
    margin: 0;
    background-color: rgb(34, 34, 34);
    background-image: url(../../assets/images/info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 1200px;
}
.Titre{
    color: aliceblue;
    justify-content: center;
    position: relative;
    margin: 200px auto;
    font-weight: bold;
    border-radius: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.877);
    height: 500px;
    flex-direction:column;
    display: flex;
    justify-content: center;
   
    

}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    font-style: italic;
    color: rgb(0, 89, 255);
    align-items: center;
    text-align: center;
    position: relative;
    margin: 20px;
    padding: 0;
    /* display: flex; */
}
h2{
color: rgb(3, 148, 121);
font-family: 'Source Code Pro', monospace;
font-size: 40px;
padding: 20px;
position: relative;
text-align: center;
justify-content: center;

}



ol li a{
    color: rgb(8, 215, 28);
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    width: 100%;
    
   
}
ol li :hover{
    color: white;
    transition: 1s;
}
ol{
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding: 20px;
}