body{
   
    background-color: rgb(214, 211, 211);
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    height: 2000px;
   
    
    
    
}


.texte{
    
    /* margin: 40px; */
    padding: 60px;
    position: relative;
    border: 10px solid rgba(51, 44, 44, 0.918);;
    width: 50%;
    margin: 0px auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.76);
   

    
}

nav{
    
    background-color: rgba(32, 32, 32, 0.877);
    height: fit-content;
    padding: 15px ;
    border-radius: 30px;
    
}
ol li a{
    color: rgb(11, 209, 100);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}
ol li{
    padding: 0px;
    margin: 20px;
    /* margin: auto; */
    list-style: none;
    text-align: center;
    justify-content: center;
}

ol{
    position: relative;
    flex-direction: column;
    display: flex;
    /* margin: auto;
    padding: auto; */
    justify-content: center;
    text-align: center;
    margin: 0;
}
ol li :hover{
    color: rgb(218, 228, 222);
    transition: color 0.8s; 
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
